.banner {
  background-color: blue;
  height: 200px;
}
.banner-alt {
  background-color: green;
  height: 200px;
}
.br {
  border-right: 1px solid black;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}
/*.row {
  margin-bottom: 15px;
}*/