

  <h1>GeoIdentifier</h1>
  <h2></h2>
  <h3></h3>
  <p>Please enter a web address:</p>



  <% 8.times do %>
  <div class="box">Boxy</div>
  <% end %>

  <% @roster.each do |person| %>
  <strong><%= person %></strong>
  <% end %>

  <ol>
  <% @moods.each do |mood| %>
    <li><%= mood %></li>
  <% end %>
  </ol>

  <form>
    <label>Web Address</label><input id="web_address" /><input type="submit" />
  </form>
 