<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Website Geo-Identifer</title>
</head>
<body>
  <h1>GeoIdentifier</h1>
  <h2></h2>
  <h3></h3>
  <p>Please enter a web address:</p>
  I am feeling <%= @mood %> today.
  <form>
    <label>Web Address</label><input id="web_address" /><input type="submit" />
  </form>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>