<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Website Geo-Identifer</title>
  <link rel="stylesheet" href="css/default.css" />
</head>
<body<%= " id=#{@bodyId}" if @bodyId %>>
  <nav>
    <ul>
    <% settings.menu.each do |item| %>
    <a href="<%= item[:route] %>"><%= item[:title] %></a>
    <% end %>
    </ul>  
  </nav>
<%= yield %>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>