/*.container {
  font-size: 0;
}*/
body {
  margin: 0;
}
.box {
  width: 200px;
  height: 200px;
  border: 2px dotted black;
  display: inline-block;
  font-size: 40px;
  text-align: center;
  line-height: 200px;
  vertical-align: middle;
  float: left;
  margin: 0 20px 20px 0;
  background-color: grey;
  animation-name: growing;
  animation-duration: 2s;
}
.box.special {
  animation-name: growing_complex;
  animation-duration: 2s;
}
body > header {
  background-color:purple;
  position: fixed;
  top:0;
  left:0;
  right:0;
  height: 60px;
  z-index:1;
}
#buffer {
  height:60px;
}
.container {
  background-color: #ffffcc;
  height: 440px;
  position: relative;
}
#box_1 {
  background-color: red;
  position: absolute;
  top:0;
  left:0;
}
#box_2 {
  background-color: green;
  position:absolute;
  top:0;
  right:-20px;
  z-index:2;
}
#box_3 {
  background-color: blue;
/*  clear: left;*/
  position:relative;
  top:100px;
}
#box_4 {
  background-color: grey;
  position:relative;
}
#box_5 {
  transition-property: width, height, background-color;
  transition-duration: 2s;
  transition-delay: 0.5s;
}
#box_5:hover{
  width: 400px;
  height: 400px;
  background-color: pink;
}
.circle{
  width:50px;
  height:50px;
  border-radius:50%;
  background-color:orange;
  position: absolute;
  top:0;
}

@keyframes growing {
  from {
    width: 1px;
    height: 1px;
  }
  to {
    width:200px;
    height:200px;
  }
}

@keyframes growing_complex {
  0% {
    width: 1px;
    height: 1px;
  }
  90% {
    width: 300px;
    height: 500px;
  }
  100% {
    width:200px;
    height:200px;
  }
}








